@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
    scroll-behavior: smooth;
}

.carousel-item {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    display: block;
}

.modal-overlay {
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    transition: transform 0.3s ease-in-out;
}